body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: rgb(221, 216, 209);
}  

.main-header {
  background: #2166438e;
  padding: 20px;
  text-align: center;
}

.main-nav {
  background: #333;
  color: #fff;
  padding: 10px 0;
}

.main-nav ul {
  list-style: none;
  padding: 0;
}

.main-nav ul li {
  display: inline;
  margin: 0 15px;
}

.main-nav ul li a {
  color: #fff;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  width: 30%;
}

.card h2 {
  margin-top: 0;
}

.main-footer {
  background: #f4f4f4;
  text-align: center;
  padding: 10px 0;
}
